*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  background-color: #fff;
  text-align: center;

}

/**************************Header*********************************/

.header{
  margin-top: 60px;
}
.input-group,input{
  height: 48px !important;
  box-shadow: -1px 4px 20px 3px #ccc;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-size: 16px !important;
  font-family: 'Poppins', sans-serif;
}
span i{
  color:#f1c40f;
}
.btn{
border: none;
}

/*******************************Ads-Placement**************************/

.ads{
  margin: 50px auto;
}
.ads img{
  margin: 0 auto;
}


/********************************Navigation*****************************/
.navigation ul{
  margin-top: 22px;
}
.navigation ul li{
  text-transform: uppercase;

}
.navigation ul li a{
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
}

/*************************Colors**********************************/
.content{
  margin-top: 30px;
}
.colors{
  border: 1px solid #ccc;
  margin-top: 30px;
  width: 100%;
  height: 200px;
   box-shadow: 1px 2px 10px 0px #ccc;
}

/***************************footer*********************************/
.footer{
  margin-top: 100px;
  background-color: #f7f7f7;
  font-family:'Poppins', sans-serif;
}
.footer h3{
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 28px;
  letter-spacing: 0.3px;
  text-transform:capitalize;
  color: #ccc;
  font-weight: 400;
}
.social-links ul{
  list-style-type: none;
}
.social-links ul li{
  display: inline;
  position: relative;
  right: 8px;
}
.social-links ul li a{
  font-size: 22px;
  margin-left: 26px;
}
.social-links ul li a:hover{
  color:#f1c40f;
}
