* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

/*******************************Ads-Placement**************************/

.ads {
  margin: 20px auto;
}

.ads img {
  margin: 0 auto;
}


/********************************Navigation*****************************/

.navigation ul {
  margin-top: 22px;
}

.navigation ul li {
  text-transform: uppercase;
}

.navigation ul li a {
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
}


/*************************Colors**********************************/

.content {
  margin-top: 30px;
}

.colors {
  border: 1px solid #ccc;
  margin-top: 30px;
  width: 100%;
  height: 200px;
  box-shadow: 1px 2px 10px 0px #ccc;
  cursor: pointer;
}

.colors .tooltiptext {
  visibility: hidden;
  width: 250px;
  height: 200px;
  background-color: #fff;
  color: rgb(60, 97, 179);
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  margin-left: -60px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3px;
  font-weight: 200;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #ccc;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.colors:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.colors .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltiptext a {
  border-bottom: 1.3px solid #ccc;
  color: #ccc;
  text-transform: capitalize;
  padding-bottom: 3px;
}

.tooltiptext h3 {
  font-size: 20px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #ccc;
  font-weight: 400;
}

span p {
  text-transform: lowercase;
}


/***************************footer*********************************/

.footer {
  margin-top: 60px;
  background-color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
}

.footer h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 28px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #ccc;
  font-weight: 400;
}

.social-links ul {
  list-style-type: none;
}

.social-links ul li {
  display: inline;
  position: relative;
  right: 8px;
}

.social-links ul li a {
  font-size: 22px;
  margin-left: 26px;
}

.social-links ul li a:hover {
  color: #f1c40f;
}


/**************copy**************************/

.copy {
  visibility: hidden;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.colors:hover .copy {
  opacity: 1;
}

.text {
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-top: 15px;
}

.text a {
  color: #fff;
}

.text a:hover {
  text-decoration: none;
  color: #fff;
}
