*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  background-color: #fff;
  text-align: center;

}

/**************************Header*********************************/

.header{
  margin-top: 60px;
}
.input-group,input{
  height: 48px !important;
  box-shadow: -1px 4px 20px 3px #ccc;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-size: 16px !important;
  font-family: 'Poppins', sans-serif;
}
span i{
  color:#f1c40f;
}
.btn{
border: none;
}

/*******************************Ads-Placement**************************/

.ads{
  margin: 50px auto;
}
.ads img{
  margin: 0 auto;
}


/********************************Navigation*****************************/
.navigation ul{
  margin-top: 22px;
}
.navigation ul li{
  text-transform: uppercase;

}
.navigation ul li a{
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
