<div class="navigation">
<div class="container">
  <div class=".row">
    <div class="col-lg-12 col-ms-12 col-sm-12">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="#red" data-toggle='tab'>red</a></li>
          <li><a href="#pink"  data-toggle='tab'>pink</a></li>
          <li><a href="#orange"  data-toggle='tab'>orange</a></li>
          <li><a href="#"  data-toggle='tab'>yellow</a></li>
          <li><a href="#"  data-toggle='tab'>purple</a></li>
          <li><a href="#"  data-toggle='tab'>green</a></li>
          <li><a href="#"  data-toggle='tab'>blue</a></li>
          <li><a href="#"  data-toggle='tab'>brown</a></li>
          <li><a href="#"  data-toggle='tab'>white</a></li>
          <li><a href="#"  data-toggle='tab'>grey</a></li>
        </ul>

        <div class="tab-content">

				<div class="tab-pane fade in "  id="red">
          <div class="content">
            <div class="container-fluid">



              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#E32636;" onclick="copyToClipboard('#color-red1')">
                    <span class="tooltiptext"><h3><a href="#">Alizarin Crimson</a></h3>
                    <br>
                    <p id="color-red1">#E32636</p>
                    <br>
                    <p>rgb(227, 38, 54)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#E52B50;" onclick="copyToClipboard('#color-red2')">
                    <span class="tooltiptext"><h3><a href="#">Amaranth</a></h3>
                    <br>
                    <p id="color-red2">#E52B50</p>
                    <br>
                    <p>rgb(229, 43, 80)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#DC143C;" onclick="copyToClipboard('#color-red3')">
                    <span class="tooltiptext"><h3><a href="#">Crimson</a></h3>
                    <br>
                    <p id="color-red3">#DC143C</p>
                    <br>
                    <p>rgb(220, 20, 60)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#A52A2A;" onclick="copyToClipboard('#color-red4')">
                    <span class="tooltiptext"><h3><a href="#">Auburn</a></h3>
                    <br>
                    <p id="color-red4">#A52A2A</p>
                    <br>
                    <p>rgb(165, 42, 42)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
				</div>
				<div class="tab-pane fade"  id="pink">
					<p>Second para Hi there
				</div>
				<div class="tab-pane fade"  id="orange">
					<p>Third para Hi there
				</div>

    </div>
  </div>
</div>
</div>
