<div class="navigation">
<div class="container">
  <div class=".row">
    <div class="col-lg-12 col-ms-12 col-sm-12">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="#red" data-toggle='tab'>red</a></li>
          <li><a href="#pink"  data-toggle='tab'>pink</a></li>
          <li><a href="#orange"  data-toggle='tab'>orange</a></li>
          <li><a href="#yellow"  data-toggle='tab'>yellow</a></li>
          <li><a href="#purple"  data-toggle='tab'>purple</a></li>
          <li><a href="#green"  data-toggle='tab'>green</a></li>
          <li><a href="#blue"  data-toggle='tab'>blue</a></li>
          <li><a href="#brown"  data-toggle='tab'>brown</a></li>
          <li><a href="#white"  data-toggle='tab'>white</a></li>
          <li><a href="#grey"  data-toggle='tab'>grey</a></li>
        </ul>

        <div class="tab-content">

				<div class="tab-pane fade in "  id="red">
          <div class="content">
            <div class="container-fluid">

              <!-- Row 0 -->
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://www.berush.com/static/berush/js/remote.js"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "berush-widget"));</script><div class="berush-root" data-ref="0277578085" data-ref_source="" data-db="us" data-color="blue"></div>
                </div>
              </div>


          <!-- Row 1 -->
              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#E32636;" onclick="copyToClipboard('#color-red1')">
                    <span class="tooltiptext"><h3><a href="#">Alizarin Crimson</a></h3>
                    <br>
                    <p id="color-red1">#E32636</p>
                    <br>
                    <p>rgb(227, 38, 54)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#E52B50;" onclick="copyToClipboard('#color-red2')">
                    <span class="tooltiptext"><h3><a href="#">Amaranth</a></h3>
                    <br>
                    <p id="color-red2">#E52B50</p>
                    <br>
                    <p>rgb(229, 43, 80)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#DC143C;" onclick="copyToClipboard('#color-red3')">
                    <span class="tooltiptext"><h3><a href="#">Crimson</a></h3>
                    <br>
                    <p id="color-red3">#DC143C</p>
                    <br>
                    <p>rgb(220, 20, 60)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="colors thumbnail" style="background-color :#A52A2A;" onclick="copyToClipboard('#color-red4')">
                    <span class="tooltiptext"><h3><a href="#">Auburn</a></h3>
                    <br>
                    <p id="color-red4">#A52A2A</p>
                    <br>
                    <p>rgb(165, 42, 42)</p>
                  </span>
                    <div class="copy">
                      <p class="text"><a>copy</a></p>
                    </div>
                  </div>
                </div>
              </div>



              <!-- Row 2 -->

              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#900020;" onclick="copyToClipboard('#color-red5')">
                  <span class="tooltiptext"><h3><a href="#">Burgundy</a></h3>
                    <br>
                    <p id="color-red5">#900020</p>
                    <br>
                    <p>rgb(144, 0, 32)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#C41E3A;" onclick="copyToClipboard('#color-red6')">
                  <span class="tooltiptext"><h3><a href="#">Cardinal</a></h3>
                    <br>
                    <p id="color-red6">#C41E3A</p>
                    <br>
                    <p>rgb(196, 30, 58)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#960018;" onclick="copyToClipboard('#color-red7')">
                  <span class="tooltiptext"><h3><a href="#">Carmine</a></h3>
                    <br>
                    <p id="color-red7">#960018</p>
                    <br>
                    <p>rgb(150, 0, 24)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#B31B1B;" onclick="copyToClipboard('#color-red8')">
                  <span class="tooltiptext"><h3><a href="#">Carnelian</a></h3>
                    <br>
                    <p id="color-red8">#B31B1B</p>
                    <br>
                    <p>rgb(179, 27, 27)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>
              </div>


              <!-- Row 3 -->

              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#DE3163;" onclick="copyToClipboard('#color-red9')">
                  <span class="tooltiptext"><h3><a href="#">Cerise</a></h3>
                    <br>
                    <p id="color-red9">#DE3163</p>
                    <br>
                    <p>rgb(222, 49, 99)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#FF3800;" onclick="copyToClipboard('#color-red10')">
                  <span class="tooltiptext"><h3><a href="#">Coquelicot</a></h3>
                    <br>
                    <p id="color-red10">#FF3800</p>
                    <br>
                    <p>rgb(255, 56, 0)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#DC143C;" onclick="copyToClipboard('#color-red11')">
                  <span class="tooltiptext"><h3><a href="#">Crimson</a></h3>
                    <br>
                    <p id="color-red11">#DC143C</p>
                    <br>
                    <p>rgb(220, 20, 60)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#8B0000;" onclick="copyToClipboard('#color-red12')">
                  <span class="tooltiptext"><h3><a href="#">Dark Red</a></h3>
                    <br>
                    <p id="color-red12">#8B0000</p>
                    <br>
                    <p>rgb(139, 0, 0)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>
              </div>


              <!-- Row 4 -->

              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#FF003F;" onclick="copyToClipboard('#color-red13')">
                  <span class="tooltiptext"><h3><a href="#">Electric Crimson</a></h3>
                    <br>
                    <p id="color-red13">#FF003F</p>
                    <br>
                    <p>rgb(255, 0, 63)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#B22222;" onclick="copyToClipboard('#color-red14')">
                  <span class="tooltiptext"><h3><a href="#">Fire Brick</a></h3>
                    <br>
                    <p id="color-red14">#B22222</p>
                    <br>
                    <p>rgb(178, 34, 34)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#E25822;" onclick="copyToClipboard('#color-red15')">
                  <span class="tooltiptext"><h3><a href="#">Flame</a></h3>
                    <br>
                    <p id="color-red15">#E25822</p>
                    <br>
                    <p>#E25822</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#FF004F;" onclick="copyToClipboard('#color-red16')">
                  <span class="tooltiptext"><h3><a href="#">Folly</a></h3>
                    <br>
                    <p id="color-red16">#FF004F</p>
                    <br>
                    <p>rgb(255, 0, 79)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>
              </div>


              <!-- Row 5 -->

              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#FF0000;" onclick="copyToClipboard('#color-red17')">
                  <span class="tooltiptext"><h3><a href="#">Red</a></h3>
                    <br>
                    <p id="color-red17">#FF0000</p>
                    <br>
                    <p>rgb(255, 0, 0)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#CD5C5C;" onclick="copyToClipboard('#color-red18')">
                  <span class="tooltiptext"><h3><a href="#">Indian Red</a></h3>
                    <br>
                    <p id="color-red18">#CD5C5C</p>
                    <br>
                    <p>rgb(205, 92, 92)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#CF1020;" onclick="copyToClipboard('#color-red19')">
                  <span class="tooltiptext"><h3><a href="#">Lava</a></h3>
                    <br>
                    <p id="color-red19">#CF1020</p>
                    <br>
                    <p>rgb(207, 16, 32)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#E62020;" onclick="copyToClipboard('#color-red20')">
                  <span class="tooltiptext"><h3><a href="#">Lust</a></h3>
                    <br>
                    <p id="color-red20">#E62020</p>
                    <br>
                    <p>rgb(230, 32, 32)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>
              </div>


            <!-- Row 6 -->

            <div class="row">

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#C81D11;" onclick="copyToClipboard('#color-red21')">
                <span class="tooltiptext"><h3><a href="#">Persian red</a></h3>
                  <br>
                  <p id="color-red21">#C81D11</p>
                  <br>
                  <p>rgb(200, 29, 17)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#800000;" onclick="copyToClipboard('#color-red22')">
                <span class="tooltiptext"><h3><a href="#">Maroon</a></h3>
                  <br>
                  <p id="color-red22">#800000</p>
                  <br>
                  <p>rgb(128, 0, 0)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#C04000;" onclick="copyToClipboard('#color-red23')">
                <span class="tooltiptext"><h3><a href="#">Mahogany</a></h3>
                  <br>
                  <p id="color-red23">#C04000</p>
                  <br>
                  <p>rgb(192, 64, 0)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#E30B5C;" onclick="copyToClipboard('#color-red24')">
                <span class="tooltiptext"><h3><a href="#">Oxblood</a></h3>
                  <br>
                  <p id="color-red24">#E30B5C</p>
                  <br>
                  <p>rgb(227, 11, 92)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>
            </div>


            <!-- Row 7 -->

            <div class="row">

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#C71585;" onclick="copyToClipboard('#color-red25')">
                <span class="tooltiptext"><h3><a href="#">Red-Violet</a></h3>
                  <br>
                  <p id="color-red25">#C71585</p>
                  <br>
                  <p>rgb(199, 21, 133)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#A45A52;" onclick="copyToClipboard('#color-red26')">
                <span class="tooltiptext"><h3><a href="#">Redwood</a></h3>
                  <br>
                  <p id="color-red26">#A45A52</p>
                  <br>
                  <p>rgb(164, 90, 82)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#FF007F;" onclick="copyToClipboard('#color-red27')">
                <span class="tooltiptext"><h3><a href="#">Rose</a></h3>
                  <br>
                  <p id="color-red27">#FF007F</p>
                  <br>
                  <p>rgb(255, 0, 127)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#CC0000;" onclick="copyToClipboard('#color-red28')">
                <span class="tooltiptext"><h3><a href="#">Rosso corsa</a></h3>
                  <br>
                  <p id="color-red28">#CC0000</p>
                  <br>
                  <p>rgb(204, 0, 0)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>
            </div>


              <!-- Row 8 -->

              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#E0115F;" onclick="copyToClipboard('#color-red29')">
                  <span class="tooltiptext"><h3><a href="#">Ruby</a></h3>
                    <br>
                    <p id="color-red29">#E0115F</p>
                    <br>
                    <p>rgb(224, 17, 95)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#B7410E;" onclick="copyToClipboard('#color-red30')">
                  <span class="tooltiptext"><h3><a href="#">Rust</a></h3>
                    <br>
                    <p id="color-red30">#B7410E</p>
                    <br>
                    <p>rgb(183, 65, 14)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#FF2400;" onclick="copyToClipboard('#color-red31')">
                  <span class="tooltiptext"><h3><a href="#">Scarlet</a></h3>
                    <br>
                    <p id="color-red31">#FF2400</p>
                    <br>
                    <p>rgb(255, 36, 0)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="colors thumbnail" style="background-color :#A91101;" onclick="copyToClipboard('#color-red32')">
                  <span class="tooltiptext"><h3><a href="#">Turkey red</a></h3>
                    <br>
                    <p id="color-red32">#A91101</p>
                    <br>
                    <p>rgb(169, 17, 1)</p>
                  </span>
                  <div class="copy">
                    <p class="text"><a>copy</a></p>
                  </div>
                </div>
                </div>
              </div>



            <!-- Row 9 -->

            <div class="row">

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#7C3030;" onclick="copyToClipboard('#color-red33')">
                <span class="tooltiptext"><h3><a href="#">Tuscan Red</a></h3>
                  <br>
                  <p id="color-red33">#7C3030</p>
                  <br>
                  <p>rgb(124, 48, 48)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#C80815;" onclick="copyToClipboard('#color-red34')">
                <span class="tooltiptext"><h3><a href="#">Venetian red</a></h3>
                  <br>
                  <p id="color-red34">#C80815</p>
                  <br>
                  <p>rgb(200, 8, 21)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#E34234;" onclick="copyToClipboard('#color-red35')">
                <span class="tooltiptext"><h3><a href="#">Vermilion</a></h3>
                  <br>
                  <p id="color-red35">#E34234</p>
                  <br>
                  <p>rgb(227, 66, 52)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="colors thumbnail" style="background-color :#722F37;" onclick="copyToClipboard('#color-red36')">
                <span class="tooltiptext"><h3><a href="#">Wine</a></h3>
                  <br>
                  <p id="color-red36">#722F37</p>
                  <br>
                  <p>rgb(114, 47, 55)</p>
                </span>
                <div class="copy">
                  <p class="text"><a>copy</a></p>
                </div>
              </div>
              </div>
            </div>



            <!-- Row 10 -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="//www.semrush.com/sem/?ref=0277578085&refer_source=&utm_source=berush&utm_medium=promo&utm_campaign=banner" title="SEMrush" target="_blank"><img src="//www.berush.com/static/berush/banners/white/728x45/728x45_en.png" alt="SEMrush" /></a>
              </div>
            </div>

            </div>
          </div>
				</div>


        <!-- PINK -->

				<div class="tab-pane fade"  id="pink">
					<div class="content">
					  <div class="container-fluid">

  <!-- Row 0 -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://www.berush.com/static/berush/js/remote.js"; fjs.parentNode.insertBefore(js, fjs); }(document, "script", "berush-widget"));</script><div class="berush-root" data-ref="0277578085" data-ref_source="" data-db="us" data-color="blue"></div>
    </div>
  </div>


    <!-- Row 1 -->


    <div class="row">
      
      <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="colors thumbnail" style="background-color :;" onclick="copyToClipboard('#color')">
        <span class="tooltiptext"><h3><a href="#"></a></h3>
          <br>
          <p id="color"></p>
          <br>
          <p></p>
        </span>
        <div class="copy">
          <p class="text"><a>copy</a></p>
        </div>
      </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="colors thumbnail" style="background-color :;" onclick="copyToClipboard('#color')">
        <span class="tooltiptext"><h3><a href="#"></a></h3>
          <br>
          <p id="color"></p>
          <br>
          <p></p>
        </span>
        <div class="copy">
          <p class="text"><a>copy</a></p>
        </div>
      </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="colors thumbnail" style="background-color :;" onclick="copyToClipboard('#color')">
        <span class="tooltiptext"><h3><a href="#"></a></h3>
          <br>
          <p id="color"></p>
          <br>
          <p></p>
        </span>
        <div class="copy">
          <p class="text"><a>copy</a></p>
        </div>
      </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="colors thumbnail" style="background-color :;" onclick="copyToClipboard('#color')">
        <span class="tooltiptext"><h3><a href="#"></a></h3>
          <br>
          <p id="color"></p>
          <br>
          <p></p>
        </span>
        <div class="copy">
          <p class="text"><a>copy</a></p>
        </div>
      </div>
      </div>
    </div>













					  </div>
					</div>
				</div>



        <!-- Orange -->

				<div class="tab-pane fade"  id="orange">
					<p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="yellow">
        <p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="purple">
        <p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="green">
        <p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="blue">
        <p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="brown">
        <p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="white">
        <p>Comming Soon...</p>
				</div>
        <div class="tab-pane fade"  id="grey">
        <p>Comming Soon...</p>
				</div>


    </div>
  </div>
</div>
</div>
