<div class="navigation">
<div class="container">
  <div class=".row">
    <div class="col-lg-12 col-ms-12 col-sm-12">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="#">red</a></li>
          <li><a href="#">pink</a></li>
          <li><a href="#">orange</a></li>
          <li><a href="#">yellow</a></li>
          <li><a href="#">purple</a></li>
          <li><a href="#">green</a></li>
          <li><a href="#">blue</a></li>
          <li><a href="#">brown</a></li>
          <li><a href="#">white</a></li>
          <li><a href="#">grey</a></li>
        </ul>
    </div>
  </div>
</div>
</div>
